* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 100px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* ---------- HEADER ---------- */
header {
    position: fixed;
    color: black;
    width: 100%;
    background-color: white;
    z-index: 10;
    font-weight: 600;
    box-shadow: 0 2px 1px gray;
}

.logo {
    width: 120px;
}

/* ---------- MAIN ---------- */

/* --- JUMBOTRON --- */

.content-planes {
    min-height: 800px;
    border: 1px solid gray;
    padding: 30px;
}

.content-custom-plane {
    border: 1px solid gray;
    padding: 30px;
}

.plane {
    border: 1px solid gray;
    border-bottom: none;
}

hr {
    width: 20%;
}



/* --- PARTNER AGENCY --- */

.content-logo {
    height: 300px;
    background-color: red;
    border: 1px solid;
}

.content-partner {
    padding: 50px
}

.content-partner img {
    width: 50%;
}

.content-partner hr {
    margin-top: 50px;
    width: 25%;
    color: lightgray;
}

.content-partner p {
    padding: 50px 0;
}