* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SharpGrotesk';
    src: url(../font/SharpGrotesk-Thin25.otf);
}

@font-face {
    font-family: 'SharpGrotesk-Medium';
    src: url(../font/SharpGrotesk-Medium25.otf);
}

@font-face {
    font-family: 'SharpGrotesk-Bold';
    src: url(../font/SharpGrotesk-Bold25.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 80px;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
}

.btn-blue {
    padding: 10px 20px;
    color: white;
    background-color: #0061FF;
}

/* ---------- HEADER ---------- */
header {
    position: fixed;
    color: black;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.categories {
    padding: 30px 0;
    vertical-align: middle;
    display: inline-block;
}

header a {
    padding: 10px 20px;
}

.logo {
    vertical-align: middle;
    width: 120px;
}

/* ---------- MAIN ---------- */

/* --- JUMBOTRON --- */
h1 {
    font-family: 'SharpGrotesk-Medium';
    font-size: 60px;
    line-height: 100px;
    padding: 80px 0;
}

.jumbo {
    position: absolute;
    width: 75%;
}

.jumbo-txt p {
    line-height: 25px;
    word-spacing: 5px;
    padding-bottom: 40px;
}

.jumbo-txt i {
    font-size: 60px;
}

.jumbo-txt a+p {
    padding-top: 40px;
    padding-bottom: 100px;
}

/* --- BUSINESS PLANES --- */

h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
}

.billing-choise label {
    font-size: 15px;
    padding-right: 40px;
}

.content-custom-plane {
    border: 1px solid lightgray;
    padding: 30px 30px 0px 30px;
}

/* PLANE */
.content-planes {
    min-height: 930px;
    border: 1px solid lightgray;
    padding: 30px;
}

.plane {
    padding: 10px;
    text-align: center;
    border: 1px solid lightgray;
    border-bottom: none;
}

.plane-cost h3 {
    font-size: 25px;
    padding-bottom: 15px;
}

.plane-cost p {
    padding: 5px;
}

.plane-cost p+p {
    color: gray;
    padding-bottom: 10px;
}

.plane-info {
    padding: 30px 0;
}

.plane-info p {
    padding: 10px;
}

.content-planes a+p {
    padding: 30px 0;
}

hr {
    width: 20%;
    margin-bottom: 30px;
}

.plane-custom p {
    max-width: 90%;
    padding: 25px 0;
}

.content-custom-plane a {
    font-size: 15px;
    text-align: center;
    padding: 15px 20px;
    display: block;
    width: 100%;
}

.highlights ul {
    list-style: none;
}

.highlights li {
    padding: 20px 0;
}

.highlights i {
    filter: brightness(0) saturate(100%) invert(22%) sepia(83%) saturate(3946%) hue-rotate(212deg) brightness(103%) contrast(108%);
}

/* --- DROPBOX BUSINESS --- */

.content-business h3 {
    font-size: 25px;
    padding-bottom: 30px;
}

.content-business p {
    font-size: 17px;
}

.col-100>a {
    display: block;
    padding: 50px 0px 150px;
    color: blue;
    text-decoration: underline;
}

.col-100>h2 {
    padding-top: 150px;
}

.col-100>h3 {
    padding-top: 150px;
    font-size: 40px;
}

/* --- PARTNER AGENCY --- */

.partner-txt {
    padding: 50px;
}

.partner-txt h3 {
    font-size: 25px;
    line-height: 35px;
}

.partner-txt p {
    padding: 20px 0px 50px;
}

.partner-txt a {
    padding: 15px;
    border: 1px solid;
}

.square-section {
    display: flex;
}

.square-box {
    display: flex;
    width: calc(100%/3);
    height: calc(100vw/3);
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
}

.square-box-small {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.square-box-padding {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.square-box-small img {
    width: 50%;
    filter: invert(100%);
}

#florida {
    height: 10%;
    margin: 45% 0;
}

.content-square {
    padding: 10%;
}

.content-square img {
    width: 70%;
}

.content-square hr {
    margin-top: 50px;
    width: 25%;
    color: lightgray;
}

.content-square p {
    padding: 30px 0;
}

.content {
    padding: 150px 0;
}

.content>h4 {
    vertical-align: middle;
    font-size: 40px;
    color: #61082B;
}

.content>a {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    padding: 15px 50px;
}


/* --- FAQ --- */
.faq {
    margin: 150px 0;
}

.faq h2 {
    font-size: 40px;
    padding-bottom: 60px;
}

.faq i {
    padding-right: 50px;
}

.faq li {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.faq li:first-child {
    border-top: 1px solid;
}

li i {
    display: inline-block;
}

/* --- FOOTER --- */
footer {
    padding-top: 100px;
    color: white;
    background-color: black;
}

footer h4 {
    font-size: 25px;
}

footer ul {
    list-style: none;
}

footer li {
    padding: 10px 0;
}

footer li:first-child {
    padding-top: 40px;
}

footer hr {
    margin-top: 90px;
    width: 10%;
}

.language {
    padding: 20px 0px 50px;
}